### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Application Properties ###
src/main/resources/application.properties

### Eclipse ###
*.classpath
*.project
*.settings/
bin/
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS 별 임시 파일 ###
.DS_Store
Thumbs.db

### 기타 불필요한 빌드 아웃풋 보호 ###
**/target/
**/out/
**/bin/
